<!-- <div>
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="3000">{{alert.msg}}</uib-alert>
</div> -->



<div>
    <!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12 headingsss">
              <div class="portlet-title row">
                
                    <div class="caption col-md-2 headingStyle11">
                        <span class="fa fa-table"></span> Users Listing </div>
                    
                    <div class="portlet-input input-inline input-medium col-md-5 ">
                      <div class="input-icon right">
                          <i class="icon-magnifier"></i>
                          <input type="text"  [(ngModel)]="term"  id="search" class="form-control mySearch searchfont" placeholder="search..." maxlength="50"> </div>
                      </div>
                      <div class="actions ">
                              <button type="button" id="delete" class="btn adddelete" ng-if="selectedusers.length === 1"  ng-click="deleteUsers(selectedusers)"><i class="fa fa-trash"></i> Delete</button>
                             
                              <button type="button" id="addProject" class="btn adddelete"  (click)="newuser.show()"><i class="fa fa-plus"></i> Add Users</button>
                             <!-- <a type="button" id="export" class="btn blue-ebonyclay" href="http://115.248.179.170:8871/api/export_user_xls" target="_self" download="status.pdf">Export Excel</a>-->
                          </div>
                </div>
                <div class="portlet-body">
                    <!-- <div class="row">
                         <div class="col-xs-4">
                             <label for="search">items per page:</label>
                             <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                         </div>
                     </div>-->
                    <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column tbodystyle" id="sample_1">
                        <thead>
                        <tr>
                            <th>
                                <span class="glyphicon glyphicon-check"></span>
                            </th>
                            <th>Name</th>
                            <th>Group</th>
                            <th>Admin/Owner</th>
                            <th>Email</th>
                            <th>Manage</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let user of getusers | filter:term | 
                          orderBy: order:reverse:'case-insensitive' |
                           paginate: {itemsPerPage: pageSize,
                            currentPage: p,totalItems: total};">
                            <td>
                                <input type="checkbox" (click)="selectuser(user.id,user.select)" [(ngModel)]="user.select">
                            </td>
                            <td value="tool name">{{ user.first_name }} {{user.last_name}}</td>
                            <td>{{ user.group }}</td>
                            <td>{{ user.is_admin }}</td>
                            <td>{{ user.email}}</td>
                            <td>
                                <span class="btn btn-outline btn-circle btn-sm green"  ng-click="editUser(user)"><i class="fa fa-edit"></i> Edit</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                    <!-- <dir-pagination-controls boundary-links="true" pagination-id="toolsPagination" on-page-change="pageChangeHandler(newPageNumber)" template-url="templates/shared/dirPagination.tpl.html"></dir-pagination-controls> -->
                </div>
                <div class="col-xs-12 col-12" style="    text-align: center;
                margin: 29px 0px 0px 0px;
                font-size: 18px;">
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </div>
            <!-- End: life time stats -->
        </div>
    </div>
    <!-- END MAIN CONTENT -->
  
  </div>
  
  <div bsModal #newuser="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header" style="background: steelblue;
              text-align: center;
              color: white;">
                  <h4 class="modal-title pull-left">Add Users</h4>
                  <!-- <button type="button" class="close pull-right" (click)="newproject.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button> -->
              </div>
              <form #heroForm="ngForm">
              <div class="modal-body">
                  <!-- <div class="portlet box cblue">
                      <div class="portlet-body form"> -->
                          <div class="row">
                              <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                                  <div class="form-body">
                                      <div class="form-group form-md-line-input" >
                                          <label for="rfid">RFID<span class="required"> * </span></label>
                                          <input type="text" class="form-control" name="urfid"  id="rfid" placeholder="Enter the RFID" [(ngModel)]="users.rfid">
                                      </div>
                                      <!-- <p class="help-block" ng-show="userForm.urfid.$error.required && (!userForm.$pristine || userForm.$submitted)">This field is required</p> -->
  
                                      <div class="form-group form-md-line-input">
                                          <label for="user_fname">First Name<span class="required"> * </span></label>
                                          <input type="text" class="form-control" name="ufname" id="user_fname" placeholder="Enter First Name"  [(ngModel)]="users.first_name" >
                                      </div>
                                      <!--<p class="help-block" ng-show="itemForm.ufname.$error.required && (!itemForm.$pristine || itemForm.$submitted)">This field is required</p>-->
  
                                      <div class="form-group form-md-line-input">
                                          <label for="user_lname">Last Name</label>
                                          <input type="text" class="form-control" name="ulname" id="user_lname" placeholder="Enter Last Name"  [(ngModel)]="users.last_name">
                                      </div>
  
                                      <div class="form-group form-md-line-input">
                                          <label for="user_email">Email<span class="required"> * </span></label>
                                          <input type="email" class="form-control" name="email" id="user_email" placeholder="Enter Email Address"  [(ngModel)]="users.email">
                                      <!--<p class="help-block" ng-show="itemForm.email.$error.required && (!itemForm.$pristine || itemForm.$submitted)">This field is required</p>-->
  
                                      <div class="form-group form-md-line-input">
                                          <select name="category" class="form-control"  [(ngModel)]="users.group" style="margin-left: 69px;width: 160px;font-size: 12px;display: initial;">
                                              <option value="" disabled>Group</option>
                                              <option *ngFor="let group of groups" [ngValue]="group.id">
                                              {{group.name}}
                                              </option>
                                          </select>
                                          <label>Group</label>
                                      </div>
                                      <div class="form-group form-md-radios has-success">
                                          <div class="row">
                                          <div class="col-md-9">
                                              <!-- <div class="md-radio-inline">
                                                  <div class="md-radio">
                                                      <input type="radio" id="checkbox1_9" name="Admin"  [(ngModel)]="users.is_admin" >
                                                      <label for="checkbox1_9">
                                                          <span></span>
                                                          <span class="check"></span>
                                                          <span class="box"></span> Admin </label>
                                                  </div>
                                                  <div class="md-radio">
                                                      <input type="radio" id="checkbox1_10" name="Admin" [(ngModel)]="users.is_owner" >
                                                      <label for="checkbox1_10">
                                                          <span></span>
                                                          <span class="check"></span>
                                                          <span class="box"></span> Owner </label>
                                                  </div>
                                              </div> -->
                                              <input type="radio" value="admin" name="admin" [(ngModel)]="users.is_admin"> Admin
                                              <input type="radio" value="owner" name="owner" [(ngModel)]="users.is_owner"> Owner
                                          </div>
                                          </div>
                                      </div>
                                  </div>
                              <!-- </div>
                          </div> -->
                      </div>
  
                      <div class="modal-footer" style="text-align: center;">
                          <button type="submit" class="btn btn-success" (click)="saveNewUser(users);newuser.hide(); heroForm.reset()" style="margin-right: 15px;">Submit</button>
  
                          <button class="btn btn-danger" (click)="newuser.hide()">Cancel</button>
                      </div>
  
                  </div>
              </div>
          </div>
      </form>
      </div>
  </div>
        
  
  
  <script>
    TableDatatablesManaged.init();
  </script>
  
  