<div class="portlet light portlet-fit bordered">
  <div class="portlet-title">
      <div class="caption headingStyle">
        <i class="fa fa-table"></i>
          <span class="caption-subject font-green bold uppercase">Lab Trend</span>
      </div>
      
  </div>

  <div class="portlet-body">
      <div class="row" style="margin:6px;">
          <div class="col-lg-2 col-md-2 bold"><b>Select Date</b></div>
          <div id="reportrange" class="col-md-4">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
            <span></span> <b class="caret"></b>
        </div>
      </div>
      <div class="row">
          <h3 class="bold">Bar Chart</h3>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
          </div>
      </div>
      <div class="row">
      <h3 class="bold">Pie Chart</h3>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id="containers" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>

      </div>
  </div>
  </div>
</div>