
  <div>
    <div class="col-md-12 headingsss">

        <!-- Begin: life time stats -->
        <div class="portlet box cblue">
            <div class="portlet-title row">
                <div class="caption col-md-2 headingStyle">
                    <span class="fa fa-table "></span> <b>Project Listing</b> 
                </div>
                <div class="portlet-input input-inline input-medium col-md-5">
                    <div class="input-icon right">
                        <i class="icon-magnifier"></i>
                        <input type="text"  [(ngModel)]="term"  id="search" class="form-control mySearch searchfont" placeholder="search..." maxlength="50"> </div>
                </div>
                <div class="actions ">
                    <button type="button" id="delete" class="btn adddelete" ><i class="fa fa-trash"></i> Delete</button>
                   
                    <button type="button" id="addProject" class="btn adddelete" (click)="newproject.show()"><i class="fa fa-plus"></i> Add Project</button>
                   <!-- <a type="button" id="export" class="btn blue-ebonyclay" href="http://115.248.179.170:8871/api/export_project_xls" target="_self" download="status.pdf">Export Excel</a>-->
                </div>
                
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead class="theadstyle">
                    <tr>
                        <th>
                            <span class="glyphicon glyphicon-check"></span>
                        </th>
                        <th>Project Name</th>
                        <th>Description</th>
                        <th>Users</th>
                        <th>Manage</th>
                    </tr>
                    </thead>
                    <tbody class="tbodystyle text-center">
                      <tr *ngFor="let projects of getprojects | filter:term | 
                      orderBy: order:reverse:'case-insensitive' |
                       paginate: {itemsPerPage: pageSize,
                        currentPage: p,totalItems: total};">
                   
                        <!-- <tr class="odd gradeX" dir-paginate="project in Projects | filter:q | itemsPerPage: pageSize" current-page="currentPage" pagination-id="ProjectsPagination"> -->
                        <td>
                            <input type="checkbox" ng-click="selectProject(project.id,project.select)" ng-model="project.select" ng-checked="selectAll">
                        </td>
                         <td>{{ projects.name }}</td>                 
                        <td>{{ projects.description}}</td> 
                        <td><span class="btn"  (click)="assignusers(template,projects)"><i class="glyphicon glyphicon-user"></i> Users</span></td>
                        <td>
                            <span class="btn btn-outline btn-circle btn-sm "  (click)="editproject(projectedit,projects)"><i class="fa fa-edit"></i> Edit</span>
                            <!--<span class="btn btn-outline btn-circle btn-sm green-meadow"  ng-click="assign(project)"><i class="fa fa-users"></i>Assign Users</span>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
                    </div>
                <!-- <dir-pagination-controls boundary-links="true" pagination-id="ProjectsPagination" on-page-change="pageChangeHandler(newPageNumber)" template-url="templates/shared/dirPagination.tpl.html"></dir-pagination-controls> -->
            </div>
        </div>
        <div class="col-xs-12 col-12" style="    text-align: center;
    margin: 29px 0px 0px 0px;
    font-size: 18px;">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
        <!-- End: life time stats -->
    </div>
</div>


<div bsModal #newproject="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="    background: steelblue;
            text-align: center;
            color: white;">
              <h4 class="modal-title pull-left">Add Projects</h4>
              <button type="button" class="close pull-right" (click)="newproject.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        <div class="modal-body">
            <div class="portlet box cblue">
                <div class="portlet-body form">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                          
                                <div class="form-body">
                                    <div class="form-group form-md-line-input" ng-class="{'has-error': itemForm.tname.$error.required (!itemForm.$pristine || itemForm.$submitted)}">
                                        <input type="text" class="form-control" name="pname"  placeholder="Enter your name" [(ngModel)]="addproject.name" >
                                        <label for="project_name">Project Name<span class="required"> * </span></label>
                                    </div>
                                    <!-- <p class="help-block">This field is required</p> -->
                                    <div class="form-group form-md-line-input">
                                        <textarea id="project_description" class="form-control" maxlength="225" rows="2" placeholder="Enter the Project Description" [(ngModel)]="addproject.description" ></textarea>
                                        <label for="project_description">Project Description</label>
                                        <span class="help-block">Enter the project description...</span>
                                    </div>
              
              
                                    <div class="modal-footer" style="text-align: center;">
                                        <button type="submit" class="btn btn-success" (click)="saveNewProjects(addproject)" style="margin-right: 15px;">Submit</button>
                                
                                        <button class="btn btn-danger" (click)="newproject.hide()">Cancel</button>
                                      </div>
              
                                </div> 
                        </div>
                    </div>
                </div>
              </div>
              
        </div>
        </div>
        </div>
        </div>



        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                  <div class="loginmodal-container">
                      <h1>Login to Your Account</h1><br>
                    <form>
                      <input type="text" name="user" placeholder="Username">
                      <input type="password" name="pass" placeholder="Password">
                      <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                    </form>
  
                    <div class="login-help">
                      <a href="#">Register</a> - <a href="#">Forgot Password</a>
                    </div>
                  </div>
              </div>
            </div>

<ng-template #template>
    <div class="modal-header"
            style="    background: steelblue;
            text-align: center;
            color: white;">
              <h4 class="modal-title pull-left">Assign Users</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
            </button>
             </div>
    <div class="modal-body">
        <div class="portlet box cblue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-users"></i> <b>Users -</b>
                        <br> <span class="upercase" style="color:#02111dc4;
                        font-family: Bree Serif;" >{{projectdetails.name}}</span>
                    </div>
                </div>
        </div>
     <div class="portlet-body">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <!-- <div class="portlet light bordered"> -->
                    <!-- <div class="portlet-title"> -->
                        <div class="caption">
                            <span class="caption-subject bold font-blue-hoki uppercase"><b> Assigned Users</b>  </span>
                        </div>
                    <!-- </div> -->
                    <!-- <div class="portlet-body"> -->
                        <div class="scroller"  data-always-visible="1" data-rail-visible="1">
                            <!-- <ul class="feeds"> -->
                                <li *ngFor="let usersdetails of usersob" style="list-style: none;">
                                            <!-- <div class="cont-col1 "> -->
                                                <div class="col-md-4" >
                                                <div class="label label-sm label-info">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                            <!-- <div class="cont-col2"> -->
                                            <div class="col-md-8">
                                               {{ usersdetails.first_name }}&nbsp; {{  usersdetails.last_name  }}
                                               
                                            </div>
                                </li>
                            <!-- </ul> -->
                        </div>
                    <!-- </div> -->
                <!-- </div> -->
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject bold font-blue-hoki uppercase"><b>Assign Users</b>  </span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row" style="width: 105%;">
                            <!-- <mat-select placeholder="Select your Users" [(ngModel)]="selectedValue" [formControl]="toppings" multiple  (focusout)="onOut()">
                                <option *ngFor="let users of selectusers" [ngValue]="users.first_name">
                                    <mat-option *ngFor="let users of selectusers" [ngValue]="users.first_name"> {{users.first_name}}{{users.last_name}}</mat-option>
                              </mat-select> -->
                             
                            <select name="users"  class="form-control" [(ngModel)]="users"  multiple (change)="addusers(users)">
                                <option value="" disabled>Choose Users</option>
                                <option *ngFor="let users of selectusers" [ngValue]="users">
                                {{  users.first_name   }} &nbsp;{{    users.last_name  }}
                                </option>
                            </select>
                        </div>
                        <div class="form-actions noborder">
                            <button type="button "  (click)="assign(users,projectdetails.id);modalRef.hide()" class="btn assign">Assign</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
            </div>
</ng-template>

<ng-template #projectedit>
    <div class="modal-header"
            style="    background: steelblue;
            text-align: center;
            color: white;">
            <i class="icon-pencil"></i><h4 class="modal-title pull-left">Edit No project &nbsp;&nbsp;{{ &nbsp;projectdetails.id }}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
            </button>
     </div>
    <div class="modal-body" style=" height: 364px;">

            <div class="portlet-body form">
                <!-- <form #login="ngForm"></form> -->
                    <!-- <form role="form" name="itemForm" class="form-horizontal form-row-seperated" ng-submit="ok(item)" novalidate> -->
                        <div class="form-body">
                                <div class="form-group" >
                                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Project Name<span class="required"> * </span></label>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <div class="input-group">
                                            <input type="text" name="pname"  id="project_name" placeholder="Enter your name" maxlength="200" [(ngModel)]="projectdetails.name " class="form-control" />
                                            <p class="help-block">This field is required</p>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Project Description</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <div class="input-group">
                                            <textarea id="project_description" type="text" class="form-control" [(ngModel)]="projectdetails.description " maxlength="225" rows="6" placeholder="Project Description"></textarea>
                                        </div>
                                     </div>
                                </div>
                        </div>
                        <div class="form-actions center">
                            <div class="col-md-offset-4 col-md-8" style="margin-top:20px;">
                                <button type="submit" type="submit" class="btn green" (click)="projectedited(projectdetails);modalRef.hide()">Submit</button>
                                <button type="button" (click)="modalRef.hide()" class="btn default">Cancel</button>
                            </div>
                        </div>
                    <!-- </form> -->
                </div>
        </div>
</ng-template>







    


<!-- END MAIN CONTENT -->
<!-- <script>
TableDatatablesManaged.init();
</script> -->


